*
{
    margin:0;
}

body
{
    background-image: url("../assets/backgrounds/Main Page Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top center;
    height:100vh;
    position: relative;
    font-family: "Metal Mania", system-ui;
}

#upperBuffer
{
    height: 200px;
}

div
{
    display: flex;  
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

button
{
    border-radius: 15%;
    padding: 5px 10px;
}

#mainPagePanel
{
    border: 5px solid black;
    margin: 0 auto;
    width: 50%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-radius: 15%;
    background-image: url("../assets/backgrounds/Main Panel Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top center;
}

#gameTitle
{
    color: #fc1241;
}

#easyBtn
{
    color: beige;
    background-image: url("../assets/buttons/Green Button.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top center;
}

#normalBtn
{
    color: aliceblue;
    background-image: url("../assets/buttons/Orange Button.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top center;
}

#hardBtn
{
    color: aliceblue;
    background-image: url("../assets/buttons/Red Button.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top center;
}

#howToPlayBtn,#backBtn
{
    color: aliceblue;
    background-image: url("../assets/buttons/Grey Button.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top center;
}

#startBtn
{
    color: aliceblue;
    background-image: url("../assets/buttons/Blue Button.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top center;
}

#difficulties
{
    flex-wrap: wrap;
}

#easyBtn:disabled,#normalBtn:disabled,#hardBtn:disabled
{
    color: aliceblue;
    background-image: url("../assets/buttons/Grey Button.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top center;
}

#howToPlayScreen
{
    color: crimson;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    position: absolute;
    width:80vw;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) ;
    padding: 30px;
    gap:20px;
    border: solid grey;
    border-radius: 15%;
}

#howToPlayImage
{
    width:70vw;
    border: 3px solid grey;
}

.hidden
{
    display: none !important;
}